/* Set the default font family and size */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #20201e;
  }
  
  /* Set the background color for the header */
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Style the main navigation menu */
  nav {
    display: flex;
    align-items: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }

  
  nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s ease-in-out;
  }
  
  nav a:hover {
    color: #f1c40f;
  }
  
  /* Style the main content sections */
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  main section {
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px 4px;
  }
  
  section h2 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .services img{
    height: 350px;
    width: 700px;
  }
  
  section p {
    margin-bottom: 20px;
  }
  
  section ul {
    list-style: disc;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  
  /* Style the form in the contact section */
  form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px 4px;
  }
  
  form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  form input[type="text"],
  form input[type="email"],
  form textarea {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    width: 100%;
    margin-bottom: 20px;
    background-color: #f2f2f2;
  }
  
  form textarea {
    height: 150px;
  }
  
  form input[type="submit"] {
    background-color: #f1c40f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  form input[type="submit"]:hover {
    background-color: #e67e22;
  }
  
  /* Add a responsive design for smaller screens */
 {
    img{
        width: 40px;
        height: 40px;
        background-color: #e67e22;
        overflow: hidden;
    }

    }